* {
    /* border: red 2px solid; */
}

body {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 225vh;
    width: 1000px;
    font-family: "Roboto", sans-serif;
}

.one, .two, .three, .four {
    flex: 1;
    display: flex;
}

.one {
    background-color: #1F2937;
    color: #F9FAF8;
}

.one .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.header p {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.header ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

.header a {
    text-decoration: none;
    color: #F9FAF8;
}

.one .content {
    flex: 1;
    display: flex;
    align-items: center;
}

.one .media {
    display: flex;
    gap: 52px;
    padding-bottom: 52px;
}

.one .text-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
}

.one button {
    width: fit-content;
    padding: 4px 24px;
    border-radius: 4px;
    background-color: #3882F6;
    color: #F9FAF8;
    border: 0;
}

.one .image-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    flex: 1;
}

.one h1, .one p {
    margin: 0;
    padding: 0;
}

.one h1 {
    font-size: 36px;
    font-weight: bolder;
}

.two {
    color: #1F2937;
    text-align: center;
}

.two .container {
    width: 80%;
    margin: 0 auto;
    padding: 16px;
}

.two .content {
    width: 85%;
    margin: 0 auto;
    padding: 0;
    margin-top: 52px;
    display: flex;
    justify-content: space-between;
}

.two .info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    gap: 8px;
}

.info-card p {
    padding: 0;
    margin: 0;
}

.two .image-content {
    box-sizing: border-box;
    height: 125px;
    width: 125px;
    border: #3882F6 3px solid;
    border-radius: 12px;
}

.two h2 {
    font-size: 30px;
    font-weight: bolder;
}

.three {
    background-color: #E5E7EB;
    padding: 0;
    margin: 0;
}

.three .container {
    width: 65%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.three .quote-content {
    margin: 0;
    font-size: 36px;
    font-weight: 100;
}

.three .quote-author {
    margin: 0;
    text-align: right;
    font-size: 24px;
    font-weight: bold;
}

.four {
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.four .container {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    flex: 1;
    display: flex;
    align-items: center;
}

.four .content {
    width: 100%;
}

.four .media {
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 84px;
    border-radius: 6px;
}

.four h4, .four p{
    margin: 0;
}

.four h4 {
    font-size: 18px;
    font-weight: bolder;
}

.four button {
    height: 100%;
    padding: 4px 24px;
    background-color: #3882F6;
    color: #F9FAF8;
    border: #F9FAF8 1px solid;
    border-radius: 4px;
}

.footer {
    background-color: #1F2937;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

